

@font-face {
  font-family: FUNGIS;
  src: url('./fonts/Regular.otf') format('otf');
  src: url('fonts/Regular.otf')
}


/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/


html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
a{
  text-decoration: none;
}
img {
  border-radius: 5px;
}


/*
  ========================================
  Grid
  ========================================
*/

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}


/*

  ========================================

Buttons

  ========================================

*/

.gitbtn 
{
  border-radius: 5px;
  display: inline-block;
  margin: 0;

  border: 1px solid #dfe2e5;
  padding: 10px 30px;
  color: #a3bdc9;
}

.gitbtn-alt 
{
  text-align: center;
  
  justify-content: center;
  align-items: center;
  padding: 24px 16px;
  gap: 8px;
  
  width: 236px;
  height: 74px;
  
  background: #6459dfdc;
  border: 1px solid #FEFEFF;
  border-radius: 5px;

  
  color: #FDFDFD;

  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 26px;
}

.logo
{
  float: left;
  padding: 40px 0 22px 0;
  margin: 0 1.5%;

}

.navtop
{
  float: right;
  padding: 40px 0 22px 10%;
  margin: 0 1.5%;
}


/*---------------------------------------------------clearing floats--------------------------------------------------*/
.clear:before
.clear::after
{
  content: "";
  display: table;
}
.clear:after
{
  clear: both;
}
.clear 
{
  clear: both;
  *zoom: 1;
  /*overflow-x: auto;*/

}


/*-----------------------------------------------------landing page--------------------------------------------------*/

.backdrop
{
  background: url('images/Rectangle.svg');
}

.intro
{
  padding-left: 20px;
}

.width
{
  width: 1220px;
}

/*--.frame11h
{
  display: inline-block;
  float: left;
  width: 575px;
  margin: 0 auto;
  
}
.frame12h
{
  display: inline-block;
  float: right;
  width: 620;
height: 650px;

} ---*/
.landing img
{
  width: 550px;
  height: 650px;
}

.tys
{

width: 559px;
height: 176px;

font-family: FUNGIS;
font-style: normal;
font-weight: 400;
font-size: 80px;
line-height: 88px;

color: #27282A;
margin: 70px 0 0px 0;
}

.peddle
{
  width: 625px;
height: 64px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 24px;
line-height: 32px;
margin: 10px 0 0px 0;

}

.frame01
{
  margin: 70px 0 5px 140px;
  
}


/*---------------------------------------------------footer--------------------------------------------------*/

.footer
{
  padding-top: 44px;
  padding-bottom: 44px;
}

.copyright
{
  float: left;
  margin: 0 1.5%;
  width: 30%;
}

.flinks
{
  float: left;
  text-align: center;
  margin: 0 1.5%;
  width: 30%;
}

.social
{
  float: left;
  text-align: right;
  margin: 0 1.5%;
  width: 30%;
}


/*---------------------------------------------services we offer grid--------------------------------------------------*/

/*------
.grid
{
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  margin: 90px 40px;
  align-self: center;
  gap: 48px;
  left: 0px;
  position: relative;
  justify-content: center;
  width: auto;

  align-items: center;
  padding: 0px;
}

.grid img
{
  width: 377px;
  height: 389px;
}

.row
{
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px;
  margin-top: 0px;
  gap: 24px;
  top: 247px;

  width: 100%;
  height: 478px;


flex: none;
flex-grow: 0;
}


.gridcol
{
  display: flex;
flex-direction: column;
align-items: center;
padding: 0px;

width: 378px;
height: 478px;

filter: drop-shadow(2px 2px 24px rgba(143, 139, 139, 0.15));

flex: none;
flex-grow: 0;
}

.col0
{
  order: 0;
}
.col1
{
  order: 1;
}
.col2
{
  order: 2;
}------------------*/

.grid img
{
  width: 377px;
  height: 389px;
}

.row
{
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 100px;
}


.gridcol-1-3
{
  width: 33.33%;
  
}

.gridcol-2-3
{
  width: 58.66%;
}

.gridcol-1-3, 
.gridcol-2-3
{
  display: inline-block;
  vertical-align: top;
}

.grid,
.gridcol-1-3,
.gridcol-2-3
{
  padding-left: 5px;
  padding-right: 5px;
}

.col
{
  vertical-align: top;
  filter: drop-shadow(2px 2px 24px rgba(143, 139, 139, 0.15));
}

.container,
.grid
{
  padding-left: 15px;
  margin: 0 auto;
  width: 1220px;
}

.testcolor
{
  background-color: red;
}

.container
{
  padding-top: 10px;
  
}

.container2
{ 
  padding-top: 100px;
  justify-content: center;
  align-content: center;
}



/*----------------------------------------------services we offer content-----------------------------------------------*/


.swot
{
  display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
margin: 0px;

width: 378px;
height: 89px;

background: #FEFEFF;

}

.swot1
{
font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 24px;

color: #000000;
}

.swo
{
  display: block;
  text-align: center;
  justify-content: center;
  align-items: center;
  padding-top: 40px;
  padding-bottom: 20px;

font-family: 'FUNGIS';
font-style: normal;
font-weight: 400;
font-size: 48px;


color: #27282A;
}

/*----------------------------------------------some of our works--------------------------------------------------*/

.works
{
  background: #27282A;
  margin-top: 100px;
  padding-top: 80px;
  margin-left: 0;
  margin-right: 0;
  padding-bottom: 20px;
  width: 1349px;
  
}

.soow
{
  float: left;
  width: 411px;
  height: 53px;
  margin-left: 100px;

  font-family: 'FUNGIS';
  font-style: normal;
  font-weight: 400;
  font-size: 48px;
  line-height: 53px;

  color: #FDFDFD;
}

.wline
{
  float: right;
  width: 800px;
  height: 0px;
  margin-top: 41px;

  border: 1px solid #FEFEFF;
}

.works img
{
  width: 378px;
  height: 464px;
}

.col2
{
  padding-top: 120px;
}

.frame2886
{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 24px 16px;
  gap: 8px;

  width: 378px;
  height: 74px;
  left: 531px;
  margin-top: 50px;
  margin-bottom: 40px;

  border: 1px solid #FEFEFF;
  border-radius: 5px;
}

.vmig
{
  width: 230px;
  height: 26px;
  
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 26px;
  
  color: #FDFDFD;
  
}

/*----------------------------------------------Our Satisfied Clients--------------------------------------------------*/

.satc
{
  background: #FEFEFF;
}

.qm
{
  float: right;
}

.rows
{
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px;
  padding-left: 70px;
  margin-top: 0px;
  gap: 100px;

  width: 100%;
  height: 478px;


flex: none;
flex-grow: 0;
}

.name
{
  display: inline-block;
  margin-left: 10px;
  margin-top: 100px;
  padding-bottom: 50px;
  align-content: center;
}

.feedback
{
  width: 490px;
  height: 192px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 32px;

  font-feature-settings: 'salt' on, 'liga' off;

  color: #18191F;
}


/*--------------------------------------------------------Outro------------------------------------------------------*/

.outro
{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0px;
  gap: 363px;

  width: 1349px;
  height: 114px;
  left: 130px;
  top: 101px;

  background: linear-gradient(0deg, rgba(39, 40, 42, 0.8), rgba(39, 40, 42, 0.8)), url(images/Extracta.svg);
}

















